version: "3.5"
services:
  splunk:
    container_name: splunk
    image: splunk-ca:latest
    #image: splunk/splunk:latest
    networks:
      - cloudacademylabs
    ports:
      - 8000:8000
      - 9997:9997
    environment:
      - SPLUNK_START_ARGS=--accept-license
      - SPLUNK_PASSWORD=qwerty123

networks:
  cloudacademylabs:
    name: cloudacademylabs
